.search {
    position: absolute;
    bottom: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    input {
        width: 30%;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 12px;
        color: $primary-dark;
        // background-color: $white;
    }
}
